<div class="calc lump-sum">

<div class="outer-container rounded">
<h3>Lump Sum</h3>

<div class="calculator rounded">

<div class="left-div">

<p class="section-heading">Enter your loan details</p>

<div class="calc-panel rounded panel">

<div>
    <label for="loan_amount" >Loan Amount:</label>
    <br>
    <div id="loan_amount_slider" class="slider"></div>
    $ <input id="loan_amount" name="loan_amount" value="100,000" class="long-text" />
</div>

<div>
    <label for="interest_rate" >Interest Rate:</label>
    <br>
    <div id="interest_rate_slider" class="slider"></div>
	&nbsp; &nbsp;<input id="interest_rate" name="interest_rate" value="7.25" class="short-text" /> %
</div>

<div>
    <label for="loan_term" >Loan Term:</label>  
    <br>
    <div id="loan_term_slider" class="slider"></div>  
	&nbsp; &nbsp;<input id="loan_term" name="loan_term" value="25.0"class="short-text" /> years
</div>

<div>
    <p >Repayment Frequency:</p>   
    <select id="repayment_frequency" name="repayment_frequency">
        <option value="monthly">Monthly</option>
        <option value="fortnightly">Fortnightly</option>
        <option value="weekly">Weekly</option>
    </select>
</div>


<p><strong>Enter you repayment details</strong></p>

<div>
    <label for="lump_sum" >Lump sum amount</label>
    <br>
    <div id="lump_sum_slider" class="slider"></div>
    $ <input id="lump_sum" name="lump_sum" value="10000" class="long-text" />
</div>

<div>
    <label for="lump_sum_year" >Lump sum payment made after</label>
    <br>
    <div id="lump_sum_year_slider" class="slider"></div>
    &nbsp; &nbsp;<input id="lump_sum_year" name="lump_sum_year" value="5.0" class="short-text" /> yr
</div>

</div> <!-- calc-panel -->
</div> <!-- left-div -->

<div class="right-div">

	<p class="section-heading">View your results</p>

    <div class="result-panel rounded panel">
		<div id="chart_div" ></div>    
        <br>
        <div id="result" class="rounded">
        
        	<table cellpadding="0" cellspacing="0" >
            <tr>
            <td><label id="label1">Minimum monthly repayments:</label></td>
            <td><label id="res1">0</label></td>
            </tr>
            
            <tr>
            <td><strong><label id="label2">Time saved:</label></strong></td>
            <td><strong><label id="res2">0</label></strong></td>
            </tr>
            
            <tr>
            <td><strong><label id="label3">Interest saved:</label></strong></td>
            <td><strong><label id="res3">0</label></strong></td>
            </tr>            
            </table>
        
        </div>
    </div> <!-- result-panel -->

</div> <!-- right-div> -->

<div id="email-form" >

<form name="email-form" action="#" method="post">

<h3>Email a Friend</h3>

<div id="errmsg"></div>

<div id="email-response"></div>

<div style="float:left; padding-right: 30px; ">
<label for="from">Your email address</label><br>
<input id="from" name="from" class="text normal-text" />
</div>

<div>
<label for="to">Your Friend's email address</label><br>
<input id="to" name="to" class="text normal-text" />
</div>

<div>
<label for="subject">Subject</label><br>
<input id="subject" name="subject" class="text long-text" value="mortgage loan repayment"/>
</div>

<div>
<label for="message">Message</label><br>
<textarea id="message" name="message" cols="40" rows="4" class="text"></textarea>
</div>

<button type="submit" id="send_email" value="Send" >Send</button>

</form>
</div>


</div> <!-- calculator -->

<div class="functions">

<ul>
<li><br><a class="info" href="#" title="info"><img src="images/info.png" width="19" height="18"></a><br><br></li>
<li><a class="print" href="#" title="print"><img src="images/print.png" width="18" height="19"></a><br><br></li>
<li><a class="save" href="#" title="save"><img src="images/save.png" width="18" height="18"></a><br><br></li>
<li><a class="email" href="#" title="email"><img src="images/email.png" width="16" height="17"></a><br><br></li>
</ul>

</div>

<div id="infodialog" title="Lump Sum Calculator"></div>

</div> <!-- outer-container -->

</div>